<h1>jBlog</h1>

<% if user_signed_in? %>
	<%= link_to 'New Post', new_post_path %>
	| <%= link_to 'Log Out', destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?"} %>
<% else %>
	<%= link_to 'Log In', new_user_session_path %>
<% end %>
<hr/>

<% @posts.each do |post| %>
	<div class="postWrapper">
		<h3 class="title"><%= link_to post.title, post %></h3>
		<p class="date"><%= post.created_at %></p>
	</div>
<% end %>